{% extends "base.html" %}
{% block content %}
<body style="background-color: #e0e0e0;" class="animated slideInUp">
    <div class="jumbotron text-center shadow mb-5">
        <h1>Covid - 19 Site</h1>
        <hr style="width: 35%;">
        <h6>A resource for _________</h6>
    </div>
    <div class="container card p-5 mt-5">
        <div>{{ summary['Global'] }}
            <h3>New Cases: <span class="badge badge-primary float-right">{{summary['NewConfirmed']}}</span></h3>
            <h3>Total Cases: <span class="badge badge-primary float-right">{{summary['TotalConfirmed']}}</span></h3>
            <h3>Recent Deaths: <span class="badge badge-primary float-right">{{summary['NewDeaths']}}</span></h3>
            <h3>Total Deaths: <span class="badge badge-primary float-right">{{summary['TotalDeaths']}}</span></h3>
            <h3>Recent Recoveries: <span class="badge badge-primary float-right">{{summary['NewRecovered']}}</span></h3>
            <h3>Total Recoveries: <span class="badge badge-primary float-right">{{summary['TotalRecovered']}}</span></h3>
        </div>
    </div>
{% endblock %}